<!DOCTYPE html>
<html>
<head>
    <title>Todos Edit</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<p><b>ID</b><br><%= response._id %></p>
<p><b>NAME</b><br><%= response.name %></p>
<p><b>COMPLETED</b><br><%= response.completed %></p>
<p><b>VALUE</b><br><%= response.__v %></p>
<p><b>UPDATED AT</b><br><%= response.updated_at %></p>

</body>
</html>
